$cols: 12;
.grid{
  @for $i from 1 through $cols{
    .col-#{$i}{
      width: calc(100% / $cols * $i);
    }
  }
  .row{
    display: flex;
    justify-content: space-around;
    background-color: white;
    @media (prefers-color-scheme: dark) {
      background-color: lighten(#262626, 10%);
    }
  }
}