// src/css/components/Comment/_comment.scss

.comment {
    @include card;
    border-left: 5px solid $secondary-color;
    margin-bottom: $margin;
    padding: $padding;
  }
  
  .comment-title {
    font-weight: bold;
    color: $primary-color;
  }
  
  .comment-content {
    margin-top: $margin;
    color: #333;
  }
  