<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>design guide</title>
		<link rel="stylesheet" type="text/css" href="dist/css/main.css" />
    <script src="dist/js/main.js"></script>
	</head>
	<body>
		<section>
			<h3>.button</h3>
			<hr/>
			<p>
				<button class="button button-primary button-lg">Lorem ipsum</button>
				<button class="button button-primary">Lorem ipsum</button>
				<button class="button button-primary button-sm">Lorem ipsum</button>
			</p>
			<p>
				<a href="#" class="button button-secondary button-lg">Lorem ipsum</a>
				<a href="#" class="button button-secondary">Lorem ipsum</a>
				<a href="#" class="button button-secondary button-sm">Lorem ipsum</a>
			</p>
			<p>
				<a href="#" class="button button-danger button-lg">Lorem ipsum</a>
				<a href="#" class="button button-danger">Lorem ipsum</a>
				<a href="#" class="button button-danger button-sm">Lorem ipsum</a>
			</p>

		</section>
		<br>
		<section>
			<h3>.score SEO</h3>
			<hr/>
			<div>
				<span class="score-seo seo-good"></span>
				<span class="score-seo seo-middle"></span>
				<span class="score-seo seo-bad"></span>
			</div>
		</section>
		<br>
		<section>
			<h3>.block search</h3>
			<hr/>
			<div class="block-line-search">
				<label for="input-name"></label>
				<input type="text" id="input-name" class="search-input" placeholder="Rechercher..."/>
			</div>
		</section>
		<section>
			<h3>.block card media</h3>
			<hr/>
			<div class="block-card block-card-media">
				<div class="block-card-media-img">
					<img src="dist/images/renard.jpg" alt="media image">
				</div>
				<div class="block-card-media-desc">
					<div class="block-card-media-property">Nom<span class="block-card-media-value">renard.png</span></div>
					<div class="block-card-media-property">Type<span class="block-card-media-value">Image</span></div>
					<div class="block-card-media-property">Date<span class="block-card-media-value">23/10/23</span></div>
				</div>
				<div class="block-card-modified">
					<a>
						<svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path id="Vector" d="M16 1.82843C16.2626 1.56578 16.5744 1.35744 16.9176 1.2153C17.2608 1.07316 17.6286 1 18 1C18.3714 1 18.7392 1.07316 19.0824 1.2153C19.4256 1.35744 19.7374 1.56578 20 1.82843C20.2626 2.09107 20.471 2.40287 20.6131 2.74603C20.7553 3.0892 20.8284 3.45699 20.8284 3.82843C20.8284 4.19986 20.7553 4.56766 20.6131 4.91082C20.471 5.25398 20.2626 5.56578 20 5.82843L6.5 19.3284L1 20.8284L2.5 15.3284L16 1.82843Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
						</svg>
					</a>
				</div>
		</section>
		<section>
			<h3>.block card custom page</h3>
			<hr/>
			<div class="block-card block-card-custom-page color">Couleur
				<div class="block-card-custom-page-color-wrapper">
					<span class="block-card-custom-page-text">Texte
						<input type="color" id="color-text" name="color-text"/><label for="color-text"></label>
					</span>
					<span class="block-card-custom-page-background">A-Plan
						<input type="color" id="color-text-background" name="color-text-background"/><label for="color-text-background"></label>
					</span>
				</div>
			</div>
			<div class="block-card block-card-custom-page info">
				<div class="block-card-custom-page-info-property">Auteur<span class="block-card-custom-page-info-value">Yves</span></div>
				<div class="block-card-custom-page-info-property">Statut<span class="block-card-custom-page-info-value">Brouillon</span></div>
				<div class="block-card-custom-page-info-property">Date<span class="block-card-custom-page-info-value">12/12/2023</span></div>
				<div class="block-card-custom-page-info-property">URL<span class="block-card-custom-page-info-value">gofindme.com/home</span></div>
			</div>
			<div class="block-card block-card-custom-page media">
				<div class="block-card-custom-page-media-property">Image<span class="block-card-custom-page-media-value">Ajouter un nouveau contenu</span></div>
			</div>
			<div class="block-card block-card-custom-page typo">
				<div class="block-card-custom-page-typo-property">Typographie
					<span class="block-card-custom-page-typo-value">lato</span>
					<div class="block-card-custom-page-typo-wrapper">
						<div class="block-card-custom-page-typo-property">Taille de police
							<span class="block-card-custom-page-typo-value">24 px</span>
							<span class="block-card-custom-page-typo-value">-</span>
							<span class="block-card-custom-page-typo-value">+</span>
							<span class="block-card-custom-page-typo-value">h1</span>
							<span class="block-card-custom-page-typo-value">h2</span>
							<span class="block-card-custom-page-typo-value">h3</span>
							<span class="block-card-custom-page-typo-value">p</span>
							<span class="block-card-custom-page-typo-value">liste</span>
							<span class="block-card-custom-page-typo-value">lien</span>
							<span class="block-card-custom-page-typo-value">a</span>
							<span class="block-card-custom-page-typo-value">A</span>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section>
			<h3>.block card comment</h3>
			<hr/>
			<div class="block-card block-card-comment">
				<div class="block-card-comment-picture"></div>
				<div class="block-card-comment-desc">
					<div class="block-card-comment-property">inconnu@gmail.com</div>
					<div class="block-card-comment-property">11/11/2023</div>
					<div class="block-card-comment-property">Lieu super ! Gérant à l'écoute de ses clients.</div>
					<div class="block-card-comment-desc-wrapper">
						<div class="block-card-comment-desc approved">Non approuvé</div>
						<div class="block-card-comment-desc answer">Répondre</div>
						<div class="block-card-comment-desc spam">Spam</div>
						<div class="block-card-comment-desc bin">Supprimer</div>
					</div>
				</div>
				<div class="block-card-modified">
					<a>
						<svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path id="Vector" d="M16 1.82843C16.2626 1.56578 16.5744 1.35744 16.9176 1.2153C17.2608 1.07316 17.6286 1 18 1C18.3714 1 18.7392 1.07316 19.0824 1.2153C19.4256 1.35744 19.7374 1.56578 20 1.82843C20.2626 2.09107 20.471 2.40287 20.6131 2.74603C20.7553 3.0892 20.8284 3.45699 20.8284 3.82843C20.8284 4.19986 20.7553 4.56766 20.6131 4.91082C20.471 5.25398 20.2626 5.56578 20 5.82843L6.5 19.3284L1 20.8284L2.5 15.3284L16 1.82843Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
						</svg>
					</a>
				</div>
			</div>
		</section>
		<section>
			<h3>.block card form</h3>
			<hr/>
			<div class="block-card">
				<div class="block-card-form-text">
					<div class="block-card-form-text name">Nom du formulaire</div>
					<div class="block-card-form-text date">17 octobre à 14h29</div>
				</div>
					<a>
						<svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22" fill="none">
							<path d="M16.1716 1.82843C16.4343 1.56578 16.7461 1.35744 17.0892 1.2153C17.4324 1.07316 17.8002 1 18.1716 1C18.5431 1 18.9109 1.07316 19.254 1.2153C19.5972 1.35744 19.909 1.56578 20.1716 1.82843C20.4343 2.09107 20.6426 2.40287 20.7848 2.74603C20.9269 3.0892 21.0001 3.45699 21.0001 3.82843C21.0001 4.19986 20.9269 4.56766 20.7848 4.91082C20.6426 5.25398 20.4343 5.56578 20.1716 5.82843L6.67163 19.3284L1.17163 20.8284L2.67163 15.3284L16.1716 1.82843Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
						</svg>
					</a>
			</div>
		</section>
		<section>
			<h3>.theme</h3>
			<hr/>
			<div class="themes">
				<div class="themes-card">
					<img src="dist/images/renard.jpg" alt="media image">
				<div class="themes-card-active">
					<strong>Thème actif</strong>
				</div>
				</div>
				<div class="themes-card">
					<img src="dist/images/renard.jpg" alt="media image">
				<div class="themes-card-inactive">
					<strong>Thème inactif</strong>
				</div>
				</div>
			</div>
		</section>
		<section>
			<h3>.block card total</h3>
			<hr/>
			<div class="block-card-dashboard">
				<div class="block-card-dashboard-total blue">
					<img src="dist/images/video.png" alt="media image">
					<div class="block-card-dashboard-total-text">
						<div class="title">Lorem ipsum</div>
						<div class="number">3</div>
					</div>
				</div>
				<div class="block-card-dashboard-total black">
					<img src="dist/images/comment.png" alt="media image">
					<div class="block-card-dashboard-total-text">
						<div class="title">Lorem ipsum</div>
						<div class="number">3</div>
					</div>
				</div>
				<div class="block-card-dashboard-total green">
					<img src="dist/images/pages.png" alt="media image">
					<div class="block-card-dashboard-total-text">
						<div class="title">Lorem ipsum</div>
						<div class="number">3</div>
					</div>
				</div>
			</div>
		</section>

		<section>
			<h3>.card avis</h3>
			<hr/>
			<div class="card">
				<div class="card-title"> Avis</div>
				<div class="card-avis">
					<div class="card-avis-elements">
						<img src="dist/images/profil.png" alt="profil image">
						<div class="card-avis-elements text">
							<div class="card-avis-elements text-name">Nom</div>
							<div class="card-avis-elements text-avis">Lorem ipsum dolor sit amet....</div>
						</div>
					</div>
				</div>
				<div class="card-avis">
					<div class="card-avis-elements">
						<img src="dist/images/profil.png" alt="profil image">
						<div class="card-avis-elements text">
							<div class="card-avis-elements text-name">Nom</div>
							<div class="card-avis-elements text-avis">Lorem ipsum dolor sit amet....</div>
						</div>
					</div>
				</div>
				<div class="card-avis">
					<div class="card-avis-elements">
						<img src="dist/images/profil.png" alt="profil image">
						<div class="card-avis-elements text">
							<div class="card-avis-elements text-name">Nom</div>
							<div class="card-avis-elements text-avis">Lorem ipsum dolor sit amet....</div>
						</div>
					</div>
				</div>
				<div class="card-button">
					<button class="button button-primary button-lg">Voir tous les avis</button>
				</div>
		</div>
		</section>
		<section>
			<h3>.accordion menu</h3>
			<hr/>
			<div class="back-office-nav-main">
			<nav class="navbar">
				<div class="container">
					<a href="#" class="navbar_title">Navbar</a>
					<button class="navbar_toggle_button" data-target="#content">
						Menu
					</button>
					<div class="navbar_toggle_content" id="content">
						<ul>
							<li>
								<a href="" class="accordion">
                        <div class="accordion-title">Réglages</div>
                        <div class="accordion-icon"> </div>
                    </a>
							</li>
							<li>
								<a href="" class="accordion">
                        <div class="accordion-title">Réglages</div>
                        <div class="accordion-icon"> </div>
                    </a>
							</li>
							<li>
								<a href="" class="accordion">
									<div class="accordion-title">Réglages</div>
									<div class="accordion-icon"> </div>
								</a>
							</li>
							<li>
								<a href="" class="accordion">
									<div class="accordion-title">Réglages</div>
									<div class="accordion-icon"> </div>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</nav>
		</div>
		</section>
		<section>
			<h3>.header BO</h3>
			<hr/>
			<div id="header" class="back-office-header">
				<p>Mon site</p>
				<div class="profil-button" data-modal-open="modal2">
					<a href="#" class="site-profil-logo">
					   <img src="dist/images/GoFindMe_profil.png" alt="profil">
					</a>
				</div>
				<div class="modal" id="modal2">
					<section>
						<header>
							<h4>Choisir une action</h4>
						</header>
						<div class="modal_content">
							<a><p class="text">Deconnexion</p></a>
							<a><p class="text">Mon profil</p></a>
							<a><p class="text">Paramètres</p></a>
						</div>
						<footer>
							<button class="button button-primary" data-modal-close>
								Close
							</button>
						</footer>
			</div>
		</section>
	</body>
</html>
